.leftWrapper h2{
    text-align: center;
    margin: 16px 0px;
}

.todoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    height: 78vh;
    overflow-y: scroll;
}

.todoContainer::-webkit-scrollbar {
    display: none;
}

.todoContainer .todoItem {
    transition: scale 600ms;
    transition: transform 500ms;
    margin-top: 10px;
    padding: 16px 10px;
    font-size: 1.2rem;
    font-weight: 500;
    width: 70%;
    height: 25px;
    border: none;
    outline: none;
    background: linear-gradient(0.70turn, rgb(255, 173, 173), rgb(255, 196, 0));
    /* background: rgba(0, 0, 0, 0.479); */
    color: #000;
    border-radius: 16px 4px 16px 4px;
    text-transform: capitalize;
    position: relative;
}

.todoItem:hover {
    transform: scale(1.2);
    background: linear-gradient(0.30turn, rgb(173, 206, 255), rgb(0, 162, 255));
}

/*  */

/*  */

/*  */

.todoContainer p {
    text-align: center;
    font-weight: 600;
    max-width: 80%;
    line-height: 24px;
}

.todoItem .doneBtn {
    position: absolute;
    bottom: 8px;
    right: 0;
    height: inherit;
    padding: 8px;
    color: #000;
    cursor: pointer;
}

.todoItem .deleteBtn{
    position: absolute;
    bottom: 8px;
    right: 8%;
    height: inherit;
    padding: 8px;
    color: #000;
    cursor: pointer;
}

.doneBtn:hover  {
    color: rgb(141, 255, 47);
}

.deleteBtn:hover{
    color: rgb(255, 226, 226);
}