@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  margin: 0;
  font-family: Urbanist;
}

body{
  background: linear-gradient(0.5turn, #fdff, #fdcd, #fdfd);
}

.App {
  font-family: "Urbanist", sans-serif;
}

.home {
  min-height: 100vh;
  background: linear-gradient(0.5turn, #fdff, #fdcd, #fdfd);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 10px;
  /* border: 1px solid black; */
  height: 90vh;
  width: 30%;
  min-width: 350px;
  border-radius: 10px 10px 16px 18px;
  box-shadow: 0px 0px 18px 0px #000000;
}
.card:empty{
  box-shadow: none !important;
}

.addData {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.addData .textInput {
  padding: 12px 10px;
  font-size: 1.2rem;
  font-weight: 500;
  width: 70%;
  height: 25px;
  border: none;
  outline: none;
  border-bottom: 4px solid navy;
  background: rgba(0, 0, 0, 0.479);
  color: #fff;
  border-radius: 10px 10px 0px 0px;
  text-transform: capitalize;
}

.textInput:focus{
  border-bottom: 4px solid rgb(38, 39, 38);
}

/* .textInput:hover{
  border-bottom: 4px solid #fc6592 ;
} */

.textInput::placeholder {
  color: rgb(156, 152, 152);
}

.addData h2 {
  margin: 16px 0px 0px 0px;
}

.addData p {
  margin-bottom: 14px;
  text-align: center;
  font-weight: 600;
  max-width: 80%;
  line-height: 24px;
}

.addData p b{
  font-size: 1.5rem !important;
}

.addBtn {
  position: absolute;
  bottom: 10px;
  right: 13%;
  height: inherit;
  padding: 8px;
  color: #fff;
  font-weight: 600;

}

.addBtn:hover {
  cursor: pointer;
  color: rgb(164, 255, 89);
}

.showErr{
  border-bottom: 4px solid red !important;
}

/* Pre bi class */